<style>#branding{display:none;}</style>
<div class="scrollable">
    <div class="scrollable-content">
        <div>
            <div class="row">
                <div style='text-align:center;'>
                    <img id="settingsbranding" style='width:290px;height:70px;' src="{{brandingUrl}}" />
                </div>
            </div>
            <div style="margin:0px 15px;">
                
                <p class="alert alert-danger">By resetting the application, the metadata is removed from the app, restoring it to its original configuration. Use this function if you encounter difficulties in using the features in the application (such as missing icons). Before choosing to reset the application, ensure you have network connectivity.
                </p>
                <button class="btn btn-block btn-primary" ng-click="resetmyapp();">Reset my App</button>
                
            </div>
        </div>
    </div>
</div>